* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
.main {
  width: 90%;
  height: 100%;
  color: gray;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

form {
  width: 50%;
  height: 40px;
  color: gray;
  margin: 20px auto;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
input::placeholder {
  color: gray;
  font-size: 12px;
}

/* container code  */
.card_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 15px;
  row-gap: 20px;
}

/* small card code  */
.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card img {
  width: 100%;
  height: 300px;
}

/* card child  */
.card_cont {
  padding: 10px;
}

.alert {
  color: black;
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* Tablet styles */
  .main {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }

  form {
    width: 100%;
    margin: 20px auto;
  }
  input {
    width: 100%;
  }
  .alert {
    font-size: 20px;
    text-align: center;
    margin-left: 53%;
  }
}

@media screen and (min-width: 992px) {
  /* Desktop styles */
  .main {
    width: 90%;
    margin: 10px auto;
  }
  .card_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .alert {
    font-size: 20px;
    text-align: center;
    margin-left: 158%;
  }
}

@media (max-width: 765px) {
  /* Styles for tablets and small screens */
  .main {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .card_container {
    grid-template-columns: repeat(1, 1fr);
  }

  form {
    width: 100%;
    margin: 20px auto;
  }
  input {
    width: 100%;
  }
  .alert {
    font-size: 15px;
    text-align: center;
  }
}
